/* Styling the navbar */
.navbar {
    list-style-type: none;
    display: flex;
    justify-content: center;
    background-color: #A900DA;
    padding: 10px 0;
}

/* Styling each nav item */
.navbar li {
    margin: 0 15px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px 15px;
    transition: background-color 0.3s, color 0.3s;
}

/* Hover effect */
.navbar a:hover {
    background-color: #D258F6;
    color: #fff;
    border-radius: 4px;
}

.header-container{
    display: flex;
    align-items: center;
    border: 2px dotted #D258F6;
}

.header-container img {
    margin-right: 10px; /* Adjust as needed */
}

.header-container h1 {
    color: #A900DA;
}

.section{
  width: 90%;
  border: 3px solid #A900DA;
  margin: 0px auto;
  padding:10px;
}

.footer-container{
  background-color: #A900DA;
  color: white;
  text-align: center;
  font-size: 20px;
}

.aside-container{
  background-color: #f9e6ff;
  width: 85%;
  border: 3px solid #e799ff;
  margin-left: 5px;
  padding:10px;
}

.article-container{
  display: flex;
  align-items: center;
  padding: 10px;
}

#messageArea{
    border: 1px solid #A900DA;
    border-radius: 10px;
}

.submitBtn{
    background-color: #A900DA;
    color: white;
    font-size: 20px;
}